#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.left-sec > div {
  margin-block: 20px;
}

.friend {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1em 1.5em;
}

.friend img {
  width: 50px;
  border-radius: 50%;
}

.friend > .info {
  text-align: start;
}

.friend > .info > p:first-child {
  font-weight: bold;
}

.friend > .info > p:last-child {
  font-size: 0.8rem;
}

button {
  border: none;
  outline: none;
  background-color: #fd9e40;
  color: black;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}

.addFriend,
.split-bill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5em;
  background-color: #fcf2e0;
  color: black;
  padding: 1em 2em;
}

.addFriend {
  padding: 1em 1.5em;
}

.addFriend button,
.split-bill button {
  align-self: flex-end;
}

.addFriend button,
.addFriend input {
  width: 150px;
}

.split-bill button,
.split-bill input {
  width: 100px;
}

.addFriend input,
.split-bill input {
  border: none;
  outline: none;
  padding: 0.5em 0.7em;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
}

.addFriend label,
.split-bill label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addFriend > *,
.split-bill > * {
  margin-block: 10px;
}

.split-bill h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.split-bill > label {
  gap: 50px;
}

.split-bill > label > select {
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5em 0.7em;
}

.app > .left-sec > button {
  display: block;
  margin-left: auto;
  margin-right: 2em;
}

.friend:hover {
  background-color: #fcf2e0;
}
