#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}

.left-sec > * {
  margin-block: 20px;
}

.friendsList {
  /* display: flex; */
}

.friend {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 15px;
}

.friend img {
  width: 50px;
  border-radius: 50%;
}

.friend > .info {
  text-align: start;
}

.friend > .info > p:first-child {
  font-weight: bold;
}

.friend > .info > p:last-child {
  font-size: 0.8rem;
}

button {
  border: none;
  outline: none;
  background-color: #fd9e40;
  color: black;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}

.addFriend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5em;
}

.addFriend button {
  align-self: flex-end;
}

.addFriend button,
.addFriend input {
  width: 150px;
}

.addFriend input {
  border: none;
  outline: none;
  padding: 0.5em 0.7em;
}

.addFriend label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addFriend > * {
  margin-block: 10px;
}
